[[source]]
name = 'lairning'
url = 'https://Menda0:123456@pypi.lairning.com/simple'
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-injector = "*"
pony = "*"
passlib = "*"
mysql-connector-python = "*"
pymysql = "*"
cryptography = "*"
lairning-core = "==1.0.9"

[requires]
python_version = "3.7"
